<!DOCTYPE html>
<html class="no-js" lang="{{ site.language }}">
<head>
	<meta charset="{{ site.charset }}">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Yes We Work - http://yeswework.com/">
	{{ function('wp_head') }}
</head>

<body class="{{ body_class }}">

	<header block="siteHeader">
		<a elem="logo" href="{{ site.url }}">{{ site.name }}</a>
		<nav elem="menu" mix="block:mainMenu">
			<h1 class="hidden">Main menu</h1>
			<ul block="mainMenu" elem="list">
				{% for item in menus.main.get_items %}
					<li elem="item" class="{{ item.classes | join(' ') | trim }}"><a elem="link" href="{{ item.get_link }}">{{ item.title }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</header>

	{% block content %}

	{% endblock %}

	<footer>
		
	</footer>

	{{ function('wp_footer') }}

</body>
</html>
